.App {
  text-align: center;
}

.black-nav {
  text-align: start;
  background-color: black;
  padding: 1vw;
  color: white;
}

.title {
  padding-left: 20px;
  text-align: start;
}

.container {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid grey;
  text-align: start;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}
